<p-button
  type="button"
  icon="pi pi-list"
  [outlined]="true"
  [rounded]="true"
  pTooltip="Ajouter à une liste"
  (onClick)="toggle($event, popover)"
/>

<p-popover #popover>
  <div class="add-to-list-popover">
    @if (loading()) {
      <div class="loading-container">
        <p-progressSpinner [style]="{ width: '32px', height: '32px' }" />
      </div>
    } @else {
      <div class="popover-header">
        <span class="header-title">Ajouter à une liste</span>
      </div>
      
      <div class="lists-container">
        @if (lists().length > 0) {
          <ul class="lists">
            @for (list of lists(); track list.id) {
              <li class="list-item" (click)="addToList(list, popover)">
                <div class="list-icon">
                  <i class="pi pi-list"></i>
                </div>
                <div class="list-info">
                  <span class="list-title">{{ list.title }}</span>
                  <span class="list-count">{{ list.moviesCount }} film{{ list.moviesCount > 1 ? 's' : '' }}</span>
                </div>
              </li>
            }
          </ul>
        } @else {
          <div class="no-lists">
            <i class="pi pi-inbox"></i>
            <p>Vous n'avez pas encore de liste</p>
          </div>
        }
        
        <div class="popover-footer">
          <button class="create-list-btn" (click)="createNewList(popover)">
            <i class="pi pi-plus"></i>
            <span>Créer une nouvelle liste</span>
          </button>
        </div>
      </div>
    }
  </div>
</p-popover>