.app-container {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 8rem;
  
  > * {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
  }
}